html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	background: #8fa6b7;
	color: #000;
	font-size: 13px;
}

th, td {
	padding: 5px !important;
	margin: 0;
}

.content {
	padding: 10px 20px;
}

/** Start:- screen overlay */
.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 2;
	cursor: pointer;
	color: #6495ed;
	display: flex;
	align-items: center;
	justify-content: center;
}
/** End:- screen overlay */

.form-error {
	color: #bb0000;
	font-weight: 600;
}

button {
	border-color: #000 !important;
	-webkit-box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.75);
	margin: 0 2px;
}

.row-margin {
	margin-top: 10px;
}

/** Start: status and level */
 .status, .level {
	border: 1px solid #000;
	color: #fff;
	margin: 4px 5px;
    padding: 10px;
	max-width: 50px;
    font-size: 10px;
    text-align: center;
	border-radius: 5px;
	cursor: pointer;
	font-weight: 600;
 }

 .status-thumb {
	display: inline-block;
	border: 1px solid #000;
    width: 25px;
	height: 25px;
    border-radius: 5px;
 }

 .active-box, .status:hover, .level:hover {
	 border-color: #fff;
 }

 .status-green {
	background: #33a833;
 }

 .status-blue {
	background: #2a4eb7;
 }

 .status-red {
	background: #f22e2e;
 }

 .level-1, .level-2, .level-3 {
	background-color: #000;
 }

/** End: status and level */

 input[name=picUpload] {
	display: none;
 }

 .profile-pic {
	height: 180px;
	width: 180px;
 }

 .pic-thumb {
	height: 25px;
	width: 25px;	 
 }

 /** Start: Skill Slider */
 .skill-container {
    display: flex;
	flex-wrap: wrap;
}

.skill-item {
	margin: 10px;
}

@media all and (max-width: 768px) {
	.skill-container {
    	flex-direction: column;
  	}
}

@media all and (min-width: 769px) {
  .skill-item {
		flex: 0 0 400px;
	}
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;   
    background: #fff;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 50%; 
    background: #2a4eb7;
    cursor: pointer;
}

.blue {
	color: #2a4eb7;
}
/** End: Skill Slider */

.fixed-width-btn {
	width: 250px;
	margin: 5px auto;
}

.control-label-required:after { 
   content:"*";
   color:#c70000;
}

.radio {
	cursor: pointer;
}

.thead-dark {
	background: #1d2731;
	color: #fff;
}

.hand {
	cursor: pointer;
}

/** Start: dashboard */
.dashboard-container {
	display: flex;
	margin: 10px 5px;
	flex-wrap: wrap;
	clear: both;
	font-weight: 600;
}

.dashboard-item {
	flex: 1;
	border: 1px solid #ddd;
	margin: 5px;
	padding: 2px 5px;
	text-align: center;
	background: #dedede;
}

.skill-count-container {
	float: left;
	display: block;
    width: 100%;
	font-weight: 600;
}

.skill-count-item {
	height: 100px;
    border: 1px solid #ddd;
	padding: 2px 5px;
	display: inline-block;
    overflow: hidden;
	text-align: center;
    padding: 20px 5px;
}

.vertical-text {
	display: inline-block;
    white-space: nowrap;
    /* this is for "non IE" browsers that dosn't support writing-mode */
    -webkit-transform: translate(1.1em,0) rotate(90deg);
    -moz-transform: translate(1.1em,0) rotate(90deg);
	-o-transform: translate(1.1em,0) rotate(90deg);
    transform: translate(1.1em,0) rotate(90deg);
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
   
   /* IE9+ */
   -ms-transform: none;
   -ms-transform-origin: none;
   
   /* IE8+ */
   -ms-writing-mode: tb-rl;
   
   /* IE7 and below */
   *writing-mode: tb-rl;
}
.vertical-text:before {
    content: "";
    float: left;
    margin-top: 100%;
}

/** End: dashboard */