<div class="wrapper">
    <!-- Menubar -->
    <header>
        <nav class="navbar navbar-custom">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="#" class="navbar-brand">Skills Tracker</a>
                </div>
                
                <div id="navbarCollapse" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="#" routerLink="/dashboard">Dashboard</a></li>
                        <li><a href="#" routerLink="/employee">Add Employee</a></li>
                        <li><a href="#" routerLink="/skill">Add Skill</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
  
    <!-- Content -->
    <div class="content">
		<router-outlet></router-outlet>
    </div>

    <alert></alert>
    <overlay></overlay>

</div>